In [1]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
yes = pd.read_csv(r"C:\Users\Atul Awadhiya\Downloads\Chicago_Crime_Detective (1).csv")
yes

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012
5,5,8950793,12/31/12 20:30,STREET,True,False,2521,25,19,2012
6,6,8950760,12/31/12 20:10,STREET,False,False,423,4,48,2012
7,7,8951611,12/31/12 20:00,STREET,False,False,231,2,40,2012
8,8,8951802,12/31/12 19:00,STREET,True,False,1021,10,29,2012
9,9,8950706,12/31/12 18:00,STREET,False,False,1215,12,24,2012
10,10,8951585,12/31/12 18:00,STREET,False,False,1011,10,29,2012
11,11,8951230,12/31/12 17:00,STREET,False,False,734,7,67,2012
12,12,8955530,12/31/12 16:30,STREET,False,False,921,9,58,2012
13,13,8950570,12/31/12 16:20,GAS STATION,True,False,825,8,66,2012
14,14,8954231,12/31/12 16:15,STREET,False,False,1834,18,8,2012
15,15,8950703,12/31/12 16:00,STREET,False,False,835,8,70,2012
16,16,8954418,12/31/12 16:00,STREET,False,False,1723,17,14,2012
17,17,8951685,12/31/12 16:00,STREET,False,False,122,1,32,2012
18,18,8950586,12/31/12 14:36,STREET,False,False,511,5,49,2012
19,19,8951367,12/31/12 13:45,STREET,False,False,1812,18,7,2012
20,20,8950549,12/31/12 13:15,PARKING LOT/GARAGE(NON.RESID.),False,False,411,4,45,2012
21,21,8950318,12/31/12 10:00,VEHICLE NON-COMMERCIAL,False,False,1923,19,6,2012
22,22,8950477,12/31/12 9:30,STREET,False,False,922,9,58,2012
23,23,8950502,12/31/12 9:00,STREET,False,False,332,3,43,2012
24,24,8950307,12/31/12 8:20,CTA GARAGE / OTHER PROPERTY,False,False,923,9,63,2012
25,25,8950161,12/31/12 8:05,STREET,False,False,1021,10,29,2012
26,26,8950414,12/31/12 7:05,STREET,False,False,213,2,38,2012
27,27,8950417,12/31/12 7:00,STREET,False,False,1921,19,5,2012
28,28,8950164,12/31/12 7:00,STREET,False,False,1511,15,25,2012
29,29,8950087,12/31/12 6:50,STREET,False,False,834,8,70,2012
...,...,...,...,...,...,...,...,...,...,...
191611,191611,1310782,1/1/01 13:00,PARKING LOT/GARAGE(NON.RESID.),False,False,2234,NaN,NaN,2001
191612,191612,1312557,1/1/01 13:00,STREET,False,False,513,NaN,NaN,2001
191613,191613,2514588,1/1/01 12:00,STREET,False,False,234,NaN,40,2001
191614,191614,1321047,1/1/01 12:00,STREET,False,False,2113,NaN,NaN,2001
191615,191615,1363590,1/1/01 11:00,STREET,False,False,815,NaN,NaN,2001
191616,191616,1824581,1/1/01 10:12,STREET,False,False,711,NaN,NaN,2001
191617,191617,1343445,1/1/01 10:00,STREET,False,False,133,NaN,NaN,2001
191618,191618,1344104,1/1/01 10:00,STREET,False,False,332,NaN,NaN,2001
191619,191619,1312438,1/1/01 10:00,STREET,False,False,2523,NaN,NaN,2001
191620,191620,1313988,1/1/01 9:00,STREET,False,False,323,NaN,NaN,2001
191621,191621,1850130,1/1/01 8:00,STREET,False,False,2233,NaN,NaN,2001
191622,191622,1312756,1/1/01 5:00,STREET,False,False,1724,NaN,NaN,2001
191623,191623,1310455,1/1/01 5:00,STREET,False,False,1223,NaN,NaN,2001
191624,191624,1918518,1/1/01 4:30,STREET,False,False,2522,NaN,NaN,2001
191625,191625,1313456,1/1/01 4:00,STREET,False,False,911,NaN,NaN,2001
191626,191626,1918550,1/1/01 3:57,PARKING LOT/GARAGE(NON.RESID.),False,False,1434,NaN,NaN,2001
191627,191627,1310818,1/1/01 3:00,STREET,False,False,1724,NaN,NaN,2001
191628,191628,1310725,1/1/01 3:00,STREET,True,False,822,NaN,NaN,2001
191629,191629,1310685,1/1/01 2:00,OTHER,False,False,1513,NaN,NaN,2001
191630,191630,1310022,1/1/01 1:50,STREET,True,False,2233,NaN,NaN,2001
191631,191631,1310583,1/1/01 1:17,PARKING LOT/GARAGE(NON.RESID.),False,False,433,NaN,NaN,2001
191632,191632,1310446,1/1/01 0:30,STREET,False,False,2122,NaN,NaN,2001
191633,191633,1318364,1/1/01 0:30,STREET,False,False,414,NaN,NaN,2001
191634,191634,1918610,1/1/01 0:05,RESIDENCE-GARAGE,False,False,2514,NaN,NaN,2001
191635,191635,1310755,1/1/01 0:05,RESIDENCE-GARAGE,False,False,2332,NaN,NaN,2001
191636,191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001
191637,191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001
191638,191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001
191639,191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001
191640,191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001

In [3]:
dataset = yes['Beat']
Outlier = []
def outlier(data):
    mean = np.mean('dataset')
    std = np.std('dataset')
    
    for i in data :
        z_score = (i - mean)/std
        if np.abs(z_score) > 3 :
            Outlier.append(i)
            return Outliers

In [4]:
yes['Beat']

0          623
1         1213
2         1622
3          724
4          211
5         2521
6          423
7          231
8         1021
9         1215
10        1011
11         734
12         921
13         825
14        1834
15         835
16        1723
17         122
18         511
19        1812
20         411
21        1923
22         922
23         332
24         923
25        1021
26         213
27        1921
28        1511
29         834
          ...
191611    2234
191612     513
191613     234
191614    2113
191615     815
191616     711
191617     133
191618     332
191619    2523
191620     323
191621    2233
191622    1724
191623    1223
191624    2522
191625     911
191626    1434
191627    1724
191628     822
191629    1513
191630    2233
191631     433
191632    2122
191633     414
191634    2514
191635    2332
191636    1123
191637    2023
191638     911
191639    1712
191640    1911
Name: Beat, Length: 191641, dtype: int64

In [5]:
len(yes['Date'])
dates = list(sorted(yes['Date']))
dates[(len(dates)+1) // 2]

'4/10/09 23:55'

In [6]:
yes['Date'] = pd.to_datetime(yes['Date'])

In [7]:
yes['Date']

0        2012-12-31 23:15:00
1        2012-12-31 22:00:00
2        2012-12-31 22:00:00
3        2012-12-31 22:00:00
4        2012-12-31 21:30:00
5        2012-12-31 20:30:00
6        2012-12-31 20:10:00
7        2012-12-31 20:00:00
8        2012-12-31 19:00:00
9        2012-12-31 18:00:00
10       2012-12-31 18:00:00
11       2012-12-31 17:00:00
12       2012-12-31 16:30:00
13       2012-12-31 16:20:00
14       2012-12-31 16:15:00
15       2012-12-31 16:00:00
16       2012-12-31 16:00:00
17       2012-12-31 16:00:00
18       2012-12-31 14:36:00
19       2012-12-31 13:45:00
20       2012-12-31 13:15:00
21       2012-12-31 10:00:00
22       2012-12-31 09:30:00
23       2012-12-31 09:00:00
24       2012-12-31 08:20:00
25       2012-12-31 08:05:00
26       2012-12-31 07:05:00
27       2012-12-31 07:00:00
28       2012-12-31 07:00:00
29       2012-12-31 06:50:00
                 ...
191611   2001-01-01 13:00:00
191612   2001-01-01 13:00:00
191613   2001-01-01 12:00:00
191614   2001-01-01 12:00:00
191615   2001-01-01 11:00:00
191616   2001-01-01 10:12:00
191617   2001-01-01 10:00:00
191618   2001-01-01 10:00:00
191619   2001-01-01 10:00:00
191620   2001-01-01 09:00:00
191621   2001-01-01 08:00:00
191622   2001-01-01 05:00:00
191623   2001-01-01 05:00:00
191624   2001-01-01 04:30:00
191625   2001-01-01 04:00:00
191626   2001-01-01 03:57:00
191627   2001-01-01 03:00:00
191628   2001-01-01 03:00:00
191629   2001-01-01 02:00:00
191630   2001-01-01 01:50:00
191631   2001-01-01 01:17:00
191632   2001-01-01 00:30:00
191633   2001-01-01 00:30:00
191634   2001-01-01 00:05:00
191635   2001-01-01 00:05:00
191636   2001-01-01 00:05:00
191637   2001-01-01 00:01:00
191638   2001-01-01 00:01:00
191639   2001-01-01 00:01:00
191640   2001-01-01 00:01:00
Name: Date, Length: 191641, dtype: datetime64[ns]

In [8]:
yes['Date'].quantile(.5)

Timestamp('2006-05-21 12:30:00')

In [9]:
yes['month'] = yes.Date.dt.month_name()

In [10]:
yes['Date'] = yes['Date'].sort_values()
yes['Date'].quantile(.5)

Timestamp('2006-05-21 12:30:00')

In [11]:
from datetime import datetime
from statistics import median

In [12]:
yes['month']

0         December
1         December
2         December
3         December
4         December
5         December
6         December
7         December
8         December
9         December
10        December
11        December
12        December
13        December
14        December
15        December
16        December
17        December
18        December
19        December
20        December
21        December
22        December
23        December
24        December
25        December
26        December
27        December
28        December
29        December
            ...
191611     January
191612     January
191613     January
191614     January
191615     January
191616     January
191617     January
191618     January
191619     January
191620     January
191621     January
191622     January
191623     January
191624     January
191625     January
191626     January
191627     January
191628     January
191629     January
191630     January
191631     January
191632     January
191633     January
191634     January
191635     January
191636     January
191637     January
191638     January
191639     January
191640     January
Name: month, Length: 191641, dtype: object

In [13]:
ho = yes.groupby('month')['ID'].value_counts()

In [62]:
ku = ho.groupby('month').value_counts()
ku.sort_values()

month      ID
February   1     13511
April      1     15280
March      1     15758
June       1     16002
May        1     16035
January    1     16047
September  1     16060
November   1     16063
December   1     16426
August     1     16572
July       1     16801
October    1     17086
Name: ID, dtype: int64

In [16]:
yes['weekday'] = yes.Date.dt.weekday()

TypeError: 'Series' object is not callable

In [17]:
yes['Weekday'] = yes['Date'].day_name()

AttributeError: 'Series' object has no attribute 'day_name'

In [18]:
yes['Weekday'] = yes.Date.dt.day_name()

In [19]:
yes['Weekday']

0         Monday
1         Monday
2         Monday
3         Monday
4         Monday
5         Monday
6         Monday
7         Monday
8         Monday
9         Monday
10        Monday
11        Monday
12        Monday
13        Monday
14        Monday
15        Monday
16        Monday
17        Monday
18        Monday
19        Monday
20        Monday
21        Monday
22        Monday
23        Monday
24        Monday
25        Monday
26        Monday
27        Monday
28        Monday
29        Monday
           ...
191611    Monday
191612    Monday
191613    Monday
191614    Monday
191615    Monday
191616    Monday
191617    Monday
191618    Monday
191619    Monday
191620    Monday
191621    Monday
191622    Monday
191623    Monday
191624    Monday
191625    Monday
191626    Monday
191627    Monday
191628    Monday
191629    Monday
191630    Monday
191631    Monday
191632    Monday
191633    Monday
191634    Monday
191635    Monday
191636    Monday
191637    Monday
191638    Monday
191639    Monday
191640    Monday
Name: Weekday, Length: 191641, dtype: object

In [20]:
lo = yes.groupby('Weekday')['ID'].value_counts()

In [59]:
wo = yes.groupby('LocationDescription')['Weekday'].value_counts()

wo['GAS STATION']

Weekday
Saturday     338
Sunday       336
Friday       332
Thursday     282
Monday       280
Wednesday    273
Tuesday      270
Name: Weekday, dtype: int64

In [21]:
po = lo.groupby('Weekday')
po.value_counts()

Weekday    ID
Friday     1     29284
Monday     1     27397
Saturday   1     27118
Sunday     1     26316
Thursday   1     27319
Tuesday    1     26791
Wednesday  1     27416
Name: ID, dtype: int64

In [22]:
ko = yes.groupby('month')['Arrest'].value_counts()

In [23]:
sssh = ko.groupby('month')
you = sssh.describe()
you

,count,mean,std,min,25%,50%,75%,max
month,,,,,,,,
April,2.0,7640.0,9033.996236,1252.0,4446.00,7640.0,10834.00,14028.0
August,2.0,8286.0,9838.683753,1329.0,4807.50,8286.0,11764.50,15243.0
December,2.0,8213.0,9639.279641,1397.0,4805.00,8213.0,11621.00,15029.0
February,2.0,6755.5,7802.923330,1238.0,3996.75,6755.5,9514.25,12273.0
January,2.0,8023.5,9317.546056,1435.0,4729.25,8023.5,11317.75,14612.0
July,2.0,8400.5,10007.682274,1324.0,4862.25,8400.5,11938.75,15477.0
June,2.0,8001.0,9575.640031,1230.0,4615.50,8001.0,11386.50,14772.0
March,2.0,7879.0,9306.939454,1298.0,4588.50,7879.0,11169.50,14460.0
May,2.0,8017.5,9659.785738,1187.0,4602.25,8017.5,11432.75,14848.0
November,2.0,8031.5,9582.003992,1256.0,4643.75,8031.5,11419.25,14807.0
October,2.0,8543.0,10183.751863,1342.0,4942.50,8543.0,12143.50,15744.0
September,2.0,8030.0,9591.196380,1248.0,4639.00,8030.0,11421.00,14812.0

In [24]:
ko

month      Arrest
April      False     14028
           True       1252
August     False     15243
           True       1329
December   False     15029
           True       1397
February   False     12273
           True       1238
January    False     14612
           True       1435
July       False     15477
           True       1324
June       False     14772
           True       1230
March      False     14460
           True       1298
May        False     14848
           True       1187
November   False     14807
           True       1256
October    False     15744
           True       1342
September  False     14812
           True       1248
Name: Arrest, dtype: int64

In [25]:
yes['month_year'] = yes['Date'].dt.to_period('M')

In [26]:
jo = yes.groupby('month_year')['ID'].value_counts()
jo.sort_values()

month_year  ID
2001-01     1310022    1
2008-07     6387043    1
            6387053    1
            6387110    1
            6387114    1
            6387122    1
            6387137    1
            6387178    1
            6387183    1
            6387185    1
            6387187    1
            6387197    1
            6387199    1
            6387217    1
            6387239    1
            6387282    1
            6387292    1
            6387378    1
            6387434    1
            6387442    1
            6386978    1
            6387510    1
            6386976    1
            6386950    1
            6385475    1
            6385490    1
            6385635    1
            6385641    1
            6385684    1
            6385724    1
                      ..
2004-06     3391656    1
            3391663    1
            3391673    1
            3391757    1
            3391122    1
            3391107    1
            3391102    1
            3391099    1
            3389909    1
            3389967    1
            3389979    1
            3389991    1
            3390035    1
            3390062    1
            3390071    1
            3390131    1
            3390204    1
            3389898    1
            3390232    1
            3390483    1
            3390504    1
            3390512    1
            3390573    1
            3390742    1
            3390758    1
            3390905    1
            3390927    1
            3391008    1
            3390316    1
2012-12     9125365    1
Name: ID, Length: 191641, dtype: int64

In [27]:
yes['year'] = yes.Date.dt.year

In [28]:
yes['year']

0         2012
1         2012
2         2012
3         2012
4         2012
5         2012
6         2012
7         2012
8         2012
9         2012
10        2012
11        2012
12        2012
13        2012
14        2012
15        2012
16        2012
17        2012
18        2012
19        2012
20        2012
21        2012
22        2012
23        2012
24        2012
25        2012
26        2012
27        2012
28        2012
29        2012
          ...
191611    2001
191612    2001
191613    2001
191614    2001
191615    2001
191616    2001
191617    2001
191618    2001
191619    2001
191620    2001
191621    2001
191622    2001
191623    2001
191624    2001
191625    2001
191626    2001
191627    2001
191628    2001
191629    2001
191630    2001
191631    2001
191632    2001
191633    2001
191634    2001
191635    2001
191636    2001
191637    2001
191638    2001
191639    2001
191640    2001
Name: year, Length: 191641, dtype: int64

In [29]:
ro = yes.groupby('year')['ID'].value_counts()
ro.groupby('year').describe()

        count  mean  std  min  25%  50%  75%  max
year
2001  20669.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2002  18753.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2003  16657.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2004  16862.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2005  16484.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2006  16098.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2007  14280.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2008  14445.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2009  12167.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2010  15497.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2011  15637.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0
2012  14092.0   1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [30]:
aoo = yes.groupby('year')['Arrest'].value_counts()

In [31]:
aoo.groupby('year').describe()

,count,mean,std,min,25%,50%,75%,max
year,,,,,,,,
2001,2.0,10334.5,11571.802474,2152.0,6243.25,10334.5,14425.75,18517.0
2002,2.0,9376.5,10269.311783,2115.0,5745.75,9376.5,13007.25,16638.0
2003,2.0,8328.5,9235.521669,1798.0,5063.25,8328.5,11593.75,14859.0
2004,2.0,8431.0,9528.970983,1693.0,5062.00,8431.0,11800.00,15169.0
2005,2.0,8242.0,9495.029858,1528.0,4885.00,8242.0,11599.00,14956.0
2006,2.0,8049.0,9541.698905,1302.0,4675.50,8049.0,11422.50,14796.0
2007,2.0,7140.0,8383.457998,1212.0,4176.00,7140.0,10104.00,13068.0
2008,2.0,7222.5,8771.659621,1020.0,4121.25,7222.5,10323.75,13425.0
2009,2.0,6083.5,7415.428814,840.0,3461.75,6083.5,8705.25,11327.0
2010,2.0,7748.5,9966.670081,701.0,4224.75,7748.5,11272.25,14796.0
2011,2.0,7818.5,10173.145261,625.0,4221.75,7818.5,11415.25,15012.0
2012,2.0,7046.0,9186.731301,550.0,3798.00,7046.0,10294.00,13542.0

In [32]:
(2152) / (2152+18517)

0.10411727708161982

In [33]:
1212.0 / (13068.0 +1212.0)

0.08487394957983194

In [35]:
bo = yes.groupby('LocationDescription')['ID'].value_counts()

In [36]:
bo.groupby('LocationDescription').describe()

,count,mean,std,min,25%,50%,75%,max
LocationDescription,,,,,,,,
ABANDONED BUILDING,4.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA,4.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT BUILDING NON-TERMINAL - SECURE AREA,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
AIRPORT EXTERIOR - NON-SECURE AREA,24.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT EXTERIOR - SECURE AREA,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
AIRPORT PARKING LOT,11.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT VENDING ESTABLISHMENT,10.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
AIRPORT/AIRCRAFT,363.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
ALLEY,2308.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
ANIMAL HOSPITAL,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
APARTMENT,184.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
APPLIANCE STORE,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
ATHLETIC CLUB,9.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
BANK,7.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
BAR OR TAVERN,17.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
BARBERSHOP,4.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
BOWLING ALLEY,3.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
BRIDGE,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CAR WASH,44.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CHA APARTMENT,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CHA PARKING LOT/GROUNDS,405.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CHURCH/SYNAGOGUE/PLACE OF WORSHIP,56.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CLEANING STORE,3.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
COLLEGE/UNIVERSITY GROUNDS,47.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
COLLEGE/UNIVERSITY RESIDENCE HALL,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
COMMERCIAL / BUSINESS OFFICE,126.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CONSTRUCTION SITE,35.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CONVENIENCE STORE,7.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
CTA GARAGE / OTHER PROPERTY,148.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
MEDICAL/DENTAL OFFICE,3.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
MOVIE HOUSE/THEATER,18.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
NEWSSTAND,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
NURSING HOME/RETIREMENT HOME,21.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
OTHER,4573.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
OTHER COMMERCIAL TRANSPORTATION,8.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
OTHER RAILROAD PROP / TRAIN DEPOT,28.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
PARK PROPERTY,255.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
PARKING LOT/GARAGE(NON.RESID.),14852.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
POLICE FACILITY/VEH PARKING LOT,266.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
RESIDENCE,1302.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
RESIDENCE PORCH/HALLWAY,18.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
RESIDENCE-GARAGE,1176.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
RESIDENTIAL YARD (FRONT/BACK),1536.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
RESTAURANT,49.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
SAVINGS AND LOAN,4.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
"SCHOOL, PRIVATE, BUILDING",14.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
"SCHOOL, PRIVATE, GROUNDS",23.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
"SCHOOL, PUBLIC, BUILDING",114.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
"SCHOOL, PUBLIC, GROUNDS",206.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
SIDEWALK,462.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
SMALL RETAIL STORE,33.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
SPORTS ARENA/STADIUM,166.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
STREET,156564.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
TAVERN/LIQUOR STORE,14.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
TAXICAB,21.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
VACANT LOT/LAND,985.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
VEHICLE NON-COMMERCIAL,817.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
VEHICLE-COMMERCIAL,23.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
WAREHOUSE,17.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [41]:
yo = bo.groupby('LocationDescription').value_counts()
yo.sort_values()

LocationDescription                              ID
JAIL / LOCK-UP FACILITY                          1          1
CTA TRAIN                                        1          1
AIRPORT BUILDING NON-TERMINAL - SECURE AREA      1          1
AIRPORT EXTERIOR - SECURE AREA                   1          1
NEWSSTAND                                        1          1
APPLIANCE STORE                                  1          1
ANIMAL HOSPITAL                                  1          1
BRIDGE                                           1          2
CURRENCY EXCHANGE                                1          2
COLLEGE/UNIVERSITY RESIDENCE HALL                1          2
BOWLING ALLEY                                    1          3
CLEANING STORE                                   1          3
MEDICAL/DENTAL OFFICE                            1          3
LIBRARY                                          1          4
BARBERSHOP                                       1          4
SAVINGS AND LOAN                                 1          4
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA  1          4
LAKEFRONT/WATERFRONT/RIVERBANK                   1          4
ABANDONED BUILDING                               1          4
FIRE STATION                                     1          5
DAY CARE CENTER                                  1          5
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA   1          5
CHA APARTMENT                                    1          5
FOREST PRESERVE                                  1          6
CONVENIENCE STORE                                1          7
BANK                                             1          7
OTHER COMMERCIAL TRANSPORTATION                  1          8
DRUG STORE                                       1          8
ATHLETIC CLUB                                    1          9
AIRPORT VENDING ESTABLISHMENT                    1         10
                                                        ...
CAR WASH                                         1         44
COLLEGE/UNIVERSITY GROUNDS                       1         47
GOVERNMENT BUILDING/PROPERTY                     1         48
RESTAURANT                                       1         49
CHURCH/SYNAGOGUE/PLACE OF WORSHIP                1         56
GROCERY FOOD STORE                               1         80
HOSPITAL BUILDING/GROUNDS                        1        101
SCHOOL, PUBLIC, BUILDING                         1        114
HOTEL/MOTEL                                      1        124
COMMERCIAL / BUSINESS OFFICE                     1        126
CTA GARAGE / OTHER PROPERTY                      1        148
SPORTS ARENA/STADIUM                             1        166
APARTMENT                                        1        184
SCHOOL, PUBLIC, GROUNDS                          1        206
PARK PROPERTY                                    1        255
POLICE FACILITY/VEH PARKING LOT                  1        266
AIRPORT/AIRCRAFT                                 1        363
CHA PARKING LOT/GROUNDS                          1        405
SIDEWALK                                         1        462
VEHICLE NON-COMMERCIAL                           1        817
VACANT LOT/LAND                                  1        985
RESIDENCE-GARAGE                                 1       1176
RESIDENCE                                        1       1302
RESIDENTIAL YARD (FRONT/BACK)                    1       1536
DRIVEWAY - RESIDENTIAL                           1       1675
GAS STATION                                      1       2111
ALLEY                                            1       2308
OTHER                                            1       4573
PARKING LOT/GARAGE(NON.RESID.)                   1      14852
STREET                                           1     156564
Name: ID, Length: 78, dtype: int64

In [39]:
yo.head(10)

LocationDescription                              ID
ABANDONED BUILDING                               1        4
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA  1        4
AIRPORT BUILDING NON-TERMINAL - SECURE AREA      1        1
AIRPORT EXTERIOR - NON-SECURE AREA               1       24
AIRPORT EXTERIOR - SECURE AREA                   1        1
AIRPORT PARKING LOT                              1       11
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA   1        5
AIRPORT VENDING ESTABLISHMENT                    1       10
AIRPORT/AIRCRAFT                                 1      363
ALLEY                                            1     2308
Name: ID, dtype: int64

In [42]:
 156564 + 14852+ 2308 + 2111 +  1675

177510